/* USER VARIABLES SECTION */

:root {
	--accent: #509658;
        --accent2: #346c92;
        --accent3: #ecda43;
        --background-color: #fff;
	--text: #1a1f16;
	--regular-text: 16px;
	--lineheight: 1.6;
	--userfont: roboto,sans-serif ;/*,montserrat open-sans  roboto nunito*/
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--transition: .3s ease-out;
	--bg_menu:rgba(155,155,155,0.1);
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */
@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-200.woff2") format("woff2"); font-family: "nunito"; font-weight: 200; font-style: normal; }
@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-200italic.woff2") format("woff2"); font-family: "nunito"; font-weight: 200; font-style: italic; }

@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-300.woff2") format("woff2"); font-family: "nunito"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-300italic.woff2") format("woff2"); font-family: "nunito"; font-weight: 300; font-style: italic; }

@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-regular.woff2") format("woff2"); font-family: "nunito"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-italic.woff2") format("woff2"); font-family: "nunito"; font-weight: 400; font-style: italic; }

@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-600.woff2") format("woff2"); font-family: "nunito"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-600italic.woff2") format("woff2"); font-family: "nunito"; font-weight: 600; font-style: italic; }

@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-700.woff2") format("woff2"); font-family: "nunito"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-700italic.woff2") format("woff2"); font-family: "nunito"; font-weight: 700; font-style: italic; }

@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-800.woff2") format("woff2"); font-family: "nunito"; font-weight: 800; font-style: normal; }
@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-800italic.woff2") format("woff2"); font-family: "nunito"; font-weight: 800; font-style: italic; }

@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-900.woff2") format("woff2"); font-family: "nunito"; font-weight: 900; font-style: normal; }
@font-face { src: url("../fonts/nunito/nunito-sans-v11-latin_cyrillic-900italic.woff2") format("woff2"); font-family: "nunito"; font-weight: 900; font-style: italic; }
/**/
@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-100.woff2") format("woff2"); font-family: "roboto"; font-weight: 100; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-100italic.woff2") format("woff2"); font-family: "roboto"; font-weight: 100; font-style: italic; }

@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-300.woff2") format("woff2"); font-family: "roboto"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-300italic.woff2") format("woff2"); font-family: "roboto"; font-weight: 300; font-style: italic; }

@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"); font-family: "roboto"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-italic.woff2") format("woff2"); font-family: "roboto"; font-weight: 400; font-style: italic; }

@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-500.woff2") format("woff2"); font-family: "roboto"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-500italic.woff2") format("woff2"); font-family: "roboto"; font-weight: 500; font-style: italic; }

@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-700.woff2") format("woff2"); font-family: "roboto"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-700italic.woff2") format("woff2"); font-family: "roboto"; font-weight: 700; font-style: italic; }

@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-900.woff2") format("woff2"); font-family: "roboto"; font-weight: 900; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-v29-latin_cyrillic-900italic.woff2") format("woff2"); font-family: "roboto"; font-weight: 900; font-style: italic; }
/**/
/**/
@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-300.woff2") format("woff2"); font-family: "open-sans"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-300italic.woff2") format("woff2"); font-family: "open-sans"; font-weight: 300; font-style: italic; }

@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-regular.woff2") format("woff2"); font-family: "open-sans"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-italic.woff2") format("woff2"); font-family: "open-sans"; font-weight: 400; font-style: italic; }

@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-500.woff2") format("woff2"); font-family: "open-sans"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-500italic.woff2") format("woff2"); font-family: "open-sans"; font-weight: 500; font-style: italic; }

@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-600.woff2") format("woff2"); font-family: "open-sans"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-600italic.woff2") format("woff2"); font-family: "open-sans"; font-weight: 600; font-style: italic; }

@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-700.woff2") format("woff2"); font-family: "open-sans"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-700italic.woff2") format("woff2"); font-family: "open-sans"; font-weight: 700; font-style: italic; }

@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-800.woff2") format("woff2"); font-family: "open-sans"; font-weight: 800; font-style: normal; }
@font-face { src: url("../fonts/open-sans/open-sans-v28-latin_cyrillic-800italic.woff2") format("woff2"); font-family: "open-sans"; font-weight: 800; font-style: italic; }

/**/
/**/
@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-300.woff2") format("woff2"); font-family: "montserrat"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-300italic.woff2") format("woff2"); font-family: "montserrat"; font-weight: 300; font-style: italic; }

@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-regular.woff2") format("woff2"); font-family: "montserrat"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-italic.woff2") format("woff2"); font-family: "montserrat"; font-weight: 400; font-style: italic; }

@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-500.woff2") format("woff2"); font-family: "montserrat"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-500italic.woff2") format("woff2"); font-family: "montserrat"; font-weight: 500; font-style: italic; }

@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-600.woff2") format("woff2"); font-family: "montserrat"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-600italic.woff2") format("woff2"); font-family: "montserrat"; font-weight: 600; font-style: italic; }

@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-700.woff2") format("woff2"); font-family: "montserrat"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-700italic.woff2") format("woff2"); font-family: "montserrat"; font-weight: 700; font-style: italic; }

@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-800.woff2") format("woff2"); font-family: "montserrat"; font-weight: 800; font-style: normal; }
@font-face { src: url("../fonts/montserrat/montserrat-v23-latin_cyrillic-800italic.woff2") format("woff2"); font-family: "montserrat"; font-weight: 800; font-style: italic; }

/**/

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}
.accent {
	color: var(--accent);
	font-weight: bold;
}
.accent2 {
	color: var(--accent2);
	font-weight: bold;
}
/* NAVBAR */
.navbar{
	position:absolute;
	top:0;
	z-index:1000;
	/* width:100%;*/
	padding: 12px 0 5px;
	border-bottom: 1px  solid  rgba(155,155,155,0.3);/*rgba(155,155,155,0.1);var(--accent3)*/
	left:50px;
	right:50px;
}
.logo{
	font-size:17px;
	white-space:nowrap;
}
.logo__link{
	text-transform:uppercase;
	font-weight:800;
	font-size:22px;
	color:#000;/*var(--accent);*/
	letter-spacing:-0.3px;
	line-height: 0.8;
	text-decoration:none;
}
.logo__link span{
	font-size:8px;
	display:block;
	text-transform:none;
	color:#000;/*var(--accent2);*/
        letter-spacing:0.2px;
	opacity:0.9;
        margin-left:40px;
}

.logo__image{
	width:38px;
	height:26px; 
        float: left;
}
.logo__link:hover, .logo__link:focus, .logo__link:active{
	color:#000;/*var(--accent);*/
}
.top-menu{
	margin:0px 0px;
	padding:0px 0px;
	text-align:center;
}
.top-menu__item{
	padding:0;
	text-align:center;
	list-style-type:none;
	display:inline-block;
	margin:0 5px;
}
.top-menu__link{
	font-size:16px;
	color:#777;  /* не выбраный пункт меню var(--accent)*/
        font-weight:600;
	text-decoration:none;
	padding:6px 12px;
	transition:background var(--transition);
}
.top-menu__link:hover,
.top-menu__link:focus,
span.top-menu__link{
	color:#000;                      /*цвет выбранного пункта var(--accent2)*/
        background-color: var(--bg_menu);   /*фон меню var(--accent3)*/
	border-radius: 2px;	
	transition:background var(--transition);    
}
.menu-container{
   position:relative;
}
.menu-toggle{
	width:22px;
	height:22px;
	background-image: url(../images/interface/menu.svg);
	position:absolute;
	background-size:cotain;
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	top:1px;
	display:none;
	right:0;
}
.menu-toggle_active{
	background-image: url(../images/interface/menu_close.svg);
}
.top-menu.top-menu_active{
	visibility:visible;
	opacity:1;
	transition:opacity var(--transition),visibility var(--transition);
}
.nav-social-wrap{
	text-align:rigtht;
}
.nav-social{
        background-color: var(--bg_menu);
        border-radius: 5em;
	display:inline-block;
	padding:1px 12px 3px;	
}
.nav-social__item{
	display:inline-block;
	margin:0 3px;
}
.nav-social__item img{
	width:100%;
	max-height:20px;
	max-width:25px;
	opacity:0.75;
        transition:opacity var(--transition);    
}
.nav-social__item:hover img{
	opacity:1;

}
/* SLIDER */

.home-slider{
	position:relative;
	height:50vh;
	color:#fff;
	background-color: var(--background-color);
}
