/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

.top-menu__item{
	margin:0 0px;
}

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

.top-menu__link{
	font-size:14px;
	padding:6px 8px;

}

}

/* md <= Large (lg) */
@media (max-width : 992px) {

.top-menu{
	position:absolute;
	visibility:hidden;
	opacity:0;
	background-color: var(--background-color);
	right:35px;
	top:-6px;
	border-radius: 2px;
	overflow:hidden;
}
.top-menu__item{
	display:block;
}
.top-menu__link{
	display:block;
	text-align:left;
	padding:12px 30px;
	border-bottom: 1px  solid  rgba(155,155,155,0.3);/*линии меню*/
	border-radius: 0px;
	line-height: 1.5;
	font-size:14px;
	text-transform:uppercase;
}
.menu-toggle{
	display:block;
}

}

/* sm <= Medium (md) */
@media (max-width : 768px) {

}

/* xs <= Small (sm) */
@media (max-width : 576px) {

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
}
